.header {
  background: rgb(36, 36, 36);
  margin-bottom: 0px;
  text-align: center;
}

.header_area {
  padding: 20px;
}

.menu_area {
  margin-top: 30px;
}

.saque {
  color: rgb(255, 255, 255) !important;
}
